*{
    overflow-x: hidden;
}
body{
    background: rgb(48,48,48);
}

.topbar{
    margin: 0;
    font-family: Ubuntu;
    color: rgb(245,245,245);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.search-bar{
    border-radius: 40px;
    height: 48px;
    margin: 5px;
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(63, 68, 74);
    border: none;
    color: rgb(204, 209, 220);
    width:200px;
}

.search-bar:hover{box-shadow: inset 0 0 0 3px rgb(29, 54, 107);}
.search-bar::placeholder{color:rgb(161, 163, 167)}

.search-btn{
    top:0;
    bottom:0;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(31, 33, 36);
}

.search-img{
    height: 30px;
}

.res{
    display: none;
}

.profile-card{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: ubuntu;
    color: white;
    padding: 10px;
    position: fixed;
    height: 410px;
    width: 240px;
}

.profile-pic{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.profile-name{
    font-size: 25px;
}

.profile-header{
    display: flex;
    width: inherit;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: all align-items justify-content;
}

.profile-header:hover{
    background-color: rgb(52, 52, 129);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 30px;
    border-radius: 10px;
}

.list{
    list-style: none;
    padding: 0;
    margin-top: 15px;
    
}

.repo {
    padding-left: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* desiging repository info */
.repo-card {
    font-family: Ubuntu;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(31, 33, 36);
    color: antiquewhite;
    margin: 25px;
}

/* designing repository heading  */
.repo-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* designing repository paragraph */
.repo-card p {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 700;
}

/* designing repository link  */
.repo-card a {
    text-decoration: none;
    margin: 5px 0;
    font-size: 17px;
    font-weight: 700;
}

/* designing repository link hover */
.repo-card a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .res{
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 60px;
    }

    .topbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-card {
        padding: 10px 5px;
        font-size: 16px;
        align-items: center;    
    }

    .profile-header{
        justify-content: center;
        text-align: center;
    }

    .repo {
        grid-template-columns: repeat(1, 1fr);
        
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .repo{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 550px){
    .profile-card{
        position: relative;
        padding-top:0;
        margin-top: 0;
        padding-left: 70px
    }
    
    .repo{
        padding-top: 2px;
        padding-left: 0
    }
}
